[submodule "github/rainfu/xcoin"]
	path = github/rainfu/xcoin
	url = https://github.com/rainfu/xcoin.git
[submodule "github/ranaroussi/quantstats"]
	path = github/ranaroussi/quantstats
	url = https://github.com/ranaroussi/quantstats.git
[submodule "github/raphant/freqtrade-strategies"]
	path = github/raphant/freqtrade-strategies
	url = https://github.com/raphant/freqtrade-strategies.git
[submodule "github/raphant/lazyft"]
	path = github/raphant/lazyft
	url = https://github.com/raphant/lazyft.git
[submodule "github/serhankilicarslan/freqtrade-bot"]
	path = github/serhankilicarslan/freqtrade-bot
	url = https://github.com/serhankilicarslan/freqtrade-bot.git
[submodule "github/shanejones/goddard"]
	path = github/shanejones/goddard
	url = https://github.com/shanejones/goddard.git
[submodule "github/shocker1185/user_data"]
	path = github/shocker1185/user_data
	url = https://github.com/shocker1185/user_data.git
[submodule "github/sofienkaabar/Trend-Following-Strategies"]
	path = github/sofienkaabar/Trend-Following-Strategies
	url = https://github.com/sofienkaabar/Trend-Following-Strategies.git
[submodule "github/stash86/MultiMA_TSL"]
	path = github/stash86/MultiMA_TSL
	url = https://github.com/stash86/MultiMA_TSL.git
[submodule "github/stash86/freqtrade_stuff"]
	path = github/stash86/freqtrade_stuff
	url = https://github.com/stash86/freqtrade_stuff.git
[submodule "github/stash86/ft-dashboard"]
	path = github/stash86/ft-dashboard
	url = https://github.com/stash86/ft-dashboard.git
[submodule "github/sunereyt/Vires-in-Numeris"]
	path = github/sunereyt/Vires-in-Numeris
	url = https://github.com/sunereyt/Vires-in-Numeris.git
[submodule "github/taina0407/simple_binance_futures"]
	path = github/taina0407/simple_binance_futures
	url = https://github.com/taina0407/simple_binance_futures.git
[submodule "github/thierryjmartin/freqtrade-stuff"]
	path = github/thierryjmartin/freqtrade-stuff
	url = https://github.com/thierryjmartin/freqtrade-stuff.git
[submodule "github/thinkong/awesomefreqtrade"]
	path = github/thinkong/awesomefreqtrade
	url = https://github.com/thinkong/awesomefreqtrade.git
[submodule "github/thinkong/freqtradestrategies"]
	path = github/thinkong/freqtradestrategies
	url = https://github.com/thinkong/freqtradestrategies.git
[submodule "github/thraizz/freqtrade-dashboard"]
	path = github/thraizz/freqtrade-dashboard
	url = https://github.com/thraizz/freqtrade-dashboard.git
[submodule "github/tjgeirk/freqport"]
	path = github/tjgeirk/freqport
	url = https://github.com/tjgeirk/freqport.git
[submodule "github/tutecode/freq-strategies"]
	path = github/tutecode/freq-strategies
	url = https://github.com/tutecode/freq-strategies.git
[submodule "github/twinslabnet/stra"]
	path = github/twinslabnet/stra
	url = https://github.com/twinslabnet/stra.git
[submodule "github/wanderindev/crypto-bot"]
	path = github/wanderindev/crypto-bot
	url = https://github.com/wanderindev/crypto-bot.git
[submodule "github/webclinic017/user_data"]
	path = github/webclinic017/user_data
	url = https://github.com/webclinic017/user_data.git
[submodule "github/werkkrew/freqtrade-strategies"]
	path = github/werkkrew/freqtrade-strategies
	url = https://github.com/werkkrew/freqtrade-strategies.git
[submodule "github/mablue/freqtrade-strategies"]
	path = github/mablue/freqtrade-strategies
	url = https://github.com/mablue/freqtrade-strategies.git
[submodule "github/matthieu-hm/freqtrade_consumer_producer_strategies"]
	path = github/matthieu-hm/freqtrade_consumer_producer_strategies
	url = https://github.com/matthieu-hm/freqtrade_consumer_producer_strategies.git
[submodule "github/mcDucksProject/mcDucksBroker"]
	path = github/mcDucksProject/mcDucksBroker
	url = https://github.com/mcDucksProject/mcDucksBroker.git
[submodule "github/meesvw/freqtrade-egg"]
	path = github/meesvw/freqtrade-egg
	url = https://github.com/meesvw/freqtrade-egg.git
[submodule "github/meesvw/freqtrade-stuff"]
	path = github/meesvw/freqtrade-stuff
	url = https://github.com/meesvw/freqtrade-stuff.git
[submodule "github/mikedigriz/freqtrade-strategy-mikedigriz"]
	path = github/mikedigriz/freqtrade-strategy-mikedigriz
	url = https://github.com/mikedigriz/freqtrade-strategy-mikedigriz.git
[submodule "github/mikekonan/exchange-proxy"]
	path = github/mikekonan/exchange-proxy
	url = https://github.com/mikekonan/exchange-proxy.git
[submodule "github/minulislam/freqtrade-strategies"]
	path = github/minulislam/freqtrade-strategies
	url = https://github.com/minulislam/freqtrade-strategies.git
[submodule "github/miwtoo/ft-action-zone"]
	path = github/miwtoo/ft-action-zone
	url = https://github.com/miwtoo/ft-action-zone.git
[submodule "github/miwtoo/ft-scalping-ema-stochrsi"]
	path = github/miwtoo/ft-scalping-ema-stochrsi
	url = https://github.com/miwtoo/ft-scalping-ema-stochrsi.git
[submodule "github/nateemma/strategies"]
	path = github/nateemma/strategies
	url = https://github.com/nateemma/strategies.git
[submodule "github/nenjotsu/ftbot"]
	path = github/nenjotsu/ftbot
	url = https://github.com/nenjotsu/ftbot.git
[submodule "github/nightshift2k/algotrading-as-code"]
	path = github/nightshift2k/algotrading-as-code
	url = https://github.com/nightshift2k/algotrading-as-code.git
[submodule "github/nightshift2k/freqtrade-tools"]
	path = github/nightshift2k/freqtrade-tools
	url = https://github.com/nightshift2k/freqtrade-tools.git
[submodule "github/ntsd/freqtrade-configs"]
	path = github/ntsd/freqtrade-configs
	url = https://github.com/ntsd/freqtrade-configs.git
[submodule "github/obseries/freqtrade-data-bybit"]
	path = github/obseries/freqtrade-data-bybit
	url = https://github.com/obseries/freqtrade-data-bybit.git
[submodule "github/obseries/freqtrade-savannah"]
	path = github/obseries/freqtrade-savannah
	url = https://github.com/obseries/freqtrade-savannah.git
[submodule "github/obseries/freqtrade-strategy-ichiv1"]
	path = github/obseries/freqtrade-strategy-ichiv1
	url = https://github.com/obseries/freqtrade-strategy-ichiv1.git
[submodule "github/obseries/freqtrade-strategy-reinforcedquickie"]
	path = github/obseries/freqtrade-strategy-reinforcedquickie
	url = https://github.com/obseries/freqtrade-strategy-reinforcedquickie.git
[submodule "github/orkblutt/QFreqtradeUI"]
	path = github/orkblutt/QFreqtradeUI
	url = https://github.com/orkblutt/QFreqtradeUI.git
[submodule "github/p-zombie/freqtrade"]
	path = github/p-zombie/freqtrade
	url = https://github.com/p-zombie/freqtrade.git
[submodule "github/paulcpk/freqtrade-strategies-that-work"]
	path = github/paulcpk/freqtrade-strategies-that-work
	url = https://github.com/paulcpk/freqtrade-strategies-that-work.git
[submodule "github/paulcpk/mql5-MT5-MACD-Classic"]
	path = github/paulcpk/mql5-MT5-MACD-Classic
	url = https://github.com/paulcpk/mql5-MT5-MACD-Classic.git
[submodule "github/petedx/freqtrade_pub_strats"]
	path = github/petedx/freqtrade_pub_strats
	url = https://github.com/petedx/freqtrade_pub_strats.git
[submodule "github/phuchust/freqtrade_strategy"]
	path = github/phuchust/freqtrade_strategy
	url = https://github.com/phuchust/freqtrade_strategy.git
